project/flows.json
[
    {
        "id": "b4a23bd2.4e1b08",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "eb8f4087.b7301",
        "type": "local-rtpmidi-session",
        "z": "",
        "localName": "Node-RED RTP-MIDI session",
        "bonjourName": "Node-RED RTP-MIDI session",
        "port": "5008"
    },
    {
        "id": "8b9bacf8.e6cc48",
        "type": "remote-rtpmidi-session",
        "z": "",
        "host": "10.10.90.253",
        "port": "5004"
    },
    {
        "id": "792af955.1a707",
        "type": "rtp-midi-mtc-in-node",
        "z": "b4a23bd2.4e1b08",
        "local": "eb8f4087.b7301",
        "remote": "8b9bacf8.e6cc48",
        "name": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "63b27a9c.1fca44"
            ],
            [
                "122d8bcf.45f53c"
            ]
        ]
    },
    {
        "id": "63b27a9c.1fca44",
        "type": "debug",
        "z": "b4a23bd2.4e1b08",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "x": 270,
        "y": 100,
        "wires": []
    },
    {
        "id": "122d8bcf.45f53c",
        "type": "debug",
        "z": "b4a23bd2.4e1b08",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.time",
        "targetType": "msg",
        "x": 310,
        "y": 140,
        "wires": []
    }
]